@charset "UTF-8";

body{
    background-color: rgba(145, 142, 0, 0.616);
    font: normal 20px arial;
}
h1{
   color: cadetblue; 
}
h2{
    color: chocolate;
}
p{
    color: rgb(153, 1, 1);
    text-align: justify;
}
p#par{
    color: rgb(17, 0, 170);
}